@use 'src/styles/vars';

.setting-container {

  z-index: 1;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 90%;

  .settings-form {
    background-color: vars.$back-color;
    backdrop-filter: vars.$blur;
    border-radius: vars.$b-radius;
    border: vars.$border-color;
    padding: 1rem;

    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }

    .profil-settings {
      background-color: vars.$back-color;
      backdrop-filter: vars.$blur;
      border-radius: vars.$b-radius;
      border: vars.$border-color;
      margin-bottom: 1rem;

      .settings-options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        .user-pseudo {
          margin-bottom: .5rem;
        }

        button {
          margin-bottom: 1rem;
          padding: .5rem;
        }

        .picture-profil {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          margin-bottom: .5rem;
        }

        .change-user-picture {

          padding: .5rem;
        }
      }
    }
  }

  .mail-settings {
    background-color: vars.$back-color;
    backdrop-filter: vars.$blur;
    border-radius: vars.$b-radius;
    border: vars.$border-color;
    margin-bottom: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    p {
      text-align: center;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      input {
        margin-bottom: .5rem;
      }

      button {

        padding: .5rem;
      }
    }
  }

  .mdp-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$back-color;
    backdrop-filter: vars.$blur;
    border-radius: vars.$b-radius;
    border: vars.$border-color;
    margin-bottom: 1rem;
    height: 2rem;
    cursor: pointer;
  }

  .delete-account-settings {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: vars.$back-color;
    backdrop-filter: vars.$blur;
    border-radius: vars.$b-radius;
    border: vars.$border-color;
    height: 2rem;
    cursor: pointer;
  }
}


// --- Zone Desktop ---
@media (min-width: 600px) {
  .setting-container {
    margin-left: 75px;
    margin-top: 5rem;
    max-width: 100%;

    .settings-form {
      margin-left: auto;
      margin-right: auto;
      min-width: 40rem;
    }
  }
}
